@import @/styles/_variables.module.sass
@import '@/styles/mixins/responsive.sass'

.contentContainer
    width: 70%
    margin: auto

.container
    width:70%
    margin-left: auto
    margin-right: auto
    position: relative
    letter-spacing: 3px

.totalBox
    text-align: center
    background: $brown
    color: white
    width: 100%
    letter-spacing: 3px
    line-height: 55px
    cursor: pointer


.flex_col
  display: flex
  flex-direction: column
  margin: 30px 0px 
  justify-content: space-between

.button
    margin: auto
    @include mobile-m
        padding-top: 30px
        position: relative
        right: 5px
.col
    display: flex
    align-items: center

.customer
    border-bottom: 3px solid $brown

.checkOrder
    margin: auto
    // @include mobile-m
    //     font-size: 12px

.summaryContainer
    width: 50%
    margin: auto
    @include mobile-m
        width: 100%

.cloud1
    position: relative
    top: 55vh
    @include desktop-m
        display: none

.cloud2
    position: relative
    top: 15vh
    @include desktop-m
        display: none