@import '@/styles/mixins/_mixin'
@import '@/styles/_variables.module.sass'

.btn
    margin-top: 20px
    color:#fff
    border-radius: 7px
    border:0
    box-sizing:border-box
    padding:15px 60px
    transition: all 0.3s ease-in-out

.btn:hover
    border-radius: 0px
    transform: translateY(-2px)

$btn_style: "btn_b","btn_p","btn_g","btn_y"
$btn_color: $black,$hot_pink, $green,$brown

@for $i from 1 through 4
    @include bgc(nth($btn_style,$i),nth($btn_color,$i))
