@import '@/styles/_variables.module.sass'

.flex_row
    display: flex
    justify-content: flex-start

.position
    position: relative
    // bottom:-7px
    cursor: pointer
    
.button
    cursor: pointer
    background: $bgColor
    width: 100%
    padding: 15px 45px
    border: 3px solid $brown
    border-bottom: 0px
    border-radius: 7px 7px 0px 0px 
