@import '@/styles/_variables.module.sass'

.flex_row
    display: flex
    justify-content: flex-start
    // width: 70%

.position
    position: relative
    bottom:-7px
    
.button
    background: $bgColor
    width: 100%
    padding: 15px 45px
    border: 3px solid $brown
    border-bottom: 0px
    border-radius: 7px 7px 0px 0px 
    // box-sizing: border-box
    // letter-spacing: 3px
    // display: flex
    // align-items: center
    // justify-content: center
    // cursor: pointer
    // transition-duration: .5s
    // overflow: hidden