@import '@/styles/_variables.module.sass'

.container
    display: flex
    align-items: center
    border: 2px $fontColor solid
    border-radius: 20px 
    height: 35px
    width: 100%

.searchBar
    background-color: transparent
    color:$deep_black
    width: 360px
    border:0    

.searchBar:focus
    outline: none

.searchIcon
    display: flex
    align-items: center
    justify-content: center

