@import '@/styles/_variables.module.sass'
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css)

.flex
    display: flex    
    flex-direction: column
    align-items: center
    justify-content: center

.title
   color: $title
   ont-family:"Noto Sans TC", sans-serif
   font-size: 30px
   font-weight: 700
   letter-spacing: 10px

.title2
   color: $title
   ont-family:"Noto Sans TC", sans-serif
   font-size: 20px
   font-weight: 700
   margin: 20px 0px
   text-transform: uppercase
   letter-spacing: 4px

    
.line
   height: 8px
   width: 140px
   margin-top:10px
   margin-bottom: 30px

