@import '@/styles/_variables.module.sass'
@import '@/styles/mixins/responsive.sass'

.flex
    display: flex
    flex-direction: column
    justify-content: space-between
    @include mobile-m
        font-size: 18px

.container
    display: flex
    height: 35px
    letter-spacing: 3px

.title
    display: inline-block
    color: $orderGray
    white-space: nowrap

.content
    display: inline-block
    color: $deep_black
    white-space: nowrap
    @include mobile-m
        width: 192px
        white-space: normal

.status
    color: $hot_pink