@import '@/styles/_variables.module.sass'
    
.title
   color: #2C2C2C
   text-align: center
   font-size: 34px
   font-weight: 700
   line-height: 88.2%
   letter-spacing: 14.5px
   padding-top: 90px
    
.title2
   color: #2C2C2C
   text-align: center
   font-size: 20px
   font-weight: 700
   line-height: 88.2%
   letter-spacing: 4px
    
.line
   border-bottom: 8px solid 
   margin: auto
   width: 139px
   height: 0px
   flex-shrink: 0
   margin-bottom: 60px

.line_p
    color: $hot_pink

.line_g
    color: $green

.line_y
    color: $brown
    
$line_color: $black,$hot_pink, $green,$brown