body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
      padding: 20px;
      margin: auto;
  }
  
  .app {
      width: 500px;
      padding: 25px;
      border: 2.5px solid #000;
      box-sizing: border-box;
      margin: auto;
    }
    
    input {
      width: 100%;
      /* margin: 0px 0px 10px 0px; */
      border:1.5px solid #000;
      border-radius: 0px;
    }
    label {
      width: 100%;
        padding: 0;
        margin-right: 3px;
        cursor: pointer;
    }
    /* input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]+span {
        display: inline-block;
        background-color: #000;
        padding: 10px 15px;
        color: #fff;
        user-select: none; /* 防止文字被滑鼠選取反白 */
    /* }
  
    input[type=checkbox]:checked+span {
        color: #fff;
        background-color: #E4007E;
    } */ */
    textarea{
      width: 100%;
      height: 60px;
      padding-top: 20px;
      margin-bottom: 10px;
      border:1.5px solid #000;
      border-radius: 0px;
    }
    
    .add {
      margin-top: 20px;
      background-color: #000;
      color: #fff;
      border: 0;
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
    }
    
    .list {
      padding-top: 20px;
    }
    
    .item {
      width: 100%;
      border-bottom: 1px solid #000;
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .remove {
      border: 0;
      background-color: rgb(212, 101, 101);
      color: #fff;
      padding: 10px;
    }
    h3{
      line-height: 26px;
      margin: 0 auto;
      max-width: 25ch;
      padding: 5px 0 26px;
      text-align: center;
      font-weight: 700;
    }
  p{
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  button{
    margin-top: 30px;
    color:#fff;
    background-color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    letter-spacing:4px;
    border-radius: 3px;
    border:0;
    box-sizing:border-box;
    padding:10px 40px;
    transition: all 0.3s ease-in-out;
  } 
  button:hover{
    border-radius: 0px;
  transform: translateY(-2px);
  }
  h1{
    line-height: 26px;
    margin: 0 auto;
    max-width: 25ch;
    padding: 30px 0 26px;
    text-align: center;
    font-weight: 700;
  }
  input[type=password]{
    width: 68%;
  }