@import '@/styles/_variables.module.sass'
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap')
.flex_col
    display: flex
    position: absolute
    top:195px
    width:100%
    flex-direction: column
    align-items: center
    justify-content: center

.container
    display: flex
    position: relative
    width:100%
    align-items: center
    justify-content: center

.titleNumber_1
    display: flex
    position: absolute
    font-size: 85px
    font-weight: 700
    font-family:"Noto Sans TC", sans-serif
    color:$brown
    left:227px
    top:250px

.titleNumber_2
    display: flex
    position: absolute
    font-size: 85px
    font-weight: 700
    font-family:"Noto Sans TC", sans-serif
    color:$brown
    right:227px
    top:250px

.question
    display: flex
    position: absolute
    width:950px
    top:135px
    font-size: 30px
    font-weight: 700
    font-family:"Noto Sans TC", sans-serif
    letter-spacing:3.2px 

.button
    margin:15px 0px
    padding: 20px 
    display: flex
    position: relative
    width:1000px
    top:135px
    font-size: 30px
    font-weight: 700
    font-family:"Noto Sans TC", sans-serif
    letter-spacing:3.2px 
    background-color: $brown
    color:#fff
    border: none
    justify-content: center
    transform-style: preserve-3d
    transition: transform 1s ease

.button.greenButton 
  background-color: $green
  pointer-events: none

.button.hotPinkButton
  background-color: $hot_pink
  pointer-events: none

.button.selectedButton
    animation: rotateXAnimation .5s forwards

@keyframes rotateXAnimation 
  0% 
    transform: rotateX(0deg)
  
  100% 
    transform: rotateX(360deg)
   
.yesorno
    position: absolute

.hidden
    display: none
