.flex
    display: flex
    justify-content: center
    align-content: center
    position: relative
    
.cloud
    position: absolute
    z-index: -1
    top:200px
.cloud
  animation: float 3s ease-out infinite


@keyframes float 
  50% 
     transform: translate(0, 20px)
  

