.flex
    display: flex
    justify-content: center
    align-content: center
    position: relative
.cloud
    position: absolute
    z-index: -1
    top:200px
    animation: float 10s ease-in-out infinite alternate


@keyframes float 
  0% 
     transform: translate(-50px, 0px)
  100% 
     transform: translate(50px, 0px)
  
.C1
    position: absolute
    z-index: -2
    top:220px
    left:-900px
    animation: float2 14s linear infinite


@keyframes float2
  0% 
     transform: translate(0px,0px)
  100% 
     transform: translate(1050px,0px)

.C2
    position: absolute
    z-index: -2
    top:400px
    right:400px
    animation: float3 11s linear infinite


@keyframes float3
  0% 
     transform: translate(0px, 0px)
  100% 
     transform: translate(1200px, 0px)