@import '@/styles/_variables.module.sass' 


.standard_input
    height: 36px
    padding: 0px 15px 
    background: $bgColor
    border: 2px solid $black
    
.standard_input::placeholder
    color: #868686
    font-size: 16px
    font-style: normal
    font-weight: 700
    line-height: normal
    letter-spacing: 6.29px

// .short_input
//     width: 232px
//     height: 49px

.focus 
    /* Your clicked input box styles */
  
    // transition: border-color 0.3s, box-shadow 0.3s
    // border-color: $black
    box-shadow: 0 0 0 1px $black
    outline: none


 