@import '@/styles/_variables.module.sass' 
  
.standard_input
    width: 487px
    height: 49px
    border-radius: 0.25rem
    
// .short_input
//     width: 232px
//     height: 49px

.focus 
    /* Your clicked input box styles */
  
    // transition: border-color 0.5s, box-shadow 0.5s
    border-color: #80bdff
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
    outline: none
    
  