@import '@/styles/_variables.module.sass' 


.standard_input
    height: 36px
    padding: 0px 18px 
    background: $bgColor
    border: 2px solid $black
    font-size: 18px
    // Q6 如何鎖定特定type?

//日曆大小    
.standard_input::-webkit-calendar-picker-indicator
    width: 25px
    height: 25px
    

    
//提示文字
.standard_input::placeholder
    color: #868686
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: normal
    letter-spacing: 6.29px


.focus 
    /* Your clicked input box styles */
  
    // transition: border-color 0.3s, box-shadow 0.3s
    // border-color: $black
    box-shadow: 0 0 0 1px $black
    outline: none
