@import '@/styles/_variables.module.sass'

.footer 
    background-color: $brown
    left:0
    bottom: 0
    width: 100%
    padding-top: 28px

.flex_col
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 20px

.flex_row
    display: flex
    align-items: center
    justify-content: space-around
    padding-bottom: 25px
    color: $deep_black

.ahref
    text-decoration: none
    color: $deep_black

