.header {
    background-color: #C39A6B;
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height:130px;
    font-weight: bold;
    padding-top: 0px;
}
.flex_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10px; */
}
.flex_colleft{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    padding-bottom: 15px;
    color:#241B15;
}
.flex_colright{
    display: flex;
    flex-direction: column-reverse;
    align-items: space-around;
    justify-content: center;
    padding-bottom: 15px;
    color:#241B15;
}
.h16px{
    font-size: 16px;
}
.ahref{
    text-decoration: none;
    color:#241B15;
}
