@import '@/styles/_variables.module.sass'
// .category
//     width: 100%
//     color: $fontColor
//     display: block
//     text-decoration: none

// .hoverLine
//     position: absolute
//     top:0
//     width: 100%
//     height:92px


// .relative
//     position: relative
//     height:92px

// .hoverLine:hover
//    border-bottom: 3px $fontColor solid
//    animation: box 1s ease-out
    
// @keyframes box
//     0% 
//         width: 0%  
//     100% 
//         width: 100%


.category
    width: 100%
    color: $deep_black
    display: block
    text-decoration: none
    position: relative
    box-sizing: border-box

.category::after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 0
    height: 3px
    background-color: $deep_black
    transition: width 1s ease-out

.category:hover::after
    width: 100%