@import '@/styles/_variables.module.sass'

.category
  color: $fontColor
  display: block
  text-decoration: none
  position: relative
  box-sizing: border-box

.link
  display: inline-block
  position: relative

.hovered::after
  content: ""
  position: absolute
  bottom: 0
  left: 35px
  width: 66%
  height: 2px
  background-color: $brown
  transform: scaleX(0)
  transform-origin: left
  transition: transform 0.2s ease-in

.hovered:hover::after
  transform: scaleX(1)

.title
   color: $title
   font-size: 24px
   font-weight: 900
   letter-spacing: 10px