@import @/styles/_variables.module.sass

.container
    width: 80%
    display: flex
    flex-direction: column
    margin: auto

.row
    width: 1210px
    margin: auto
    display: flex

.menuContainer
    width: 100%
    height: 100%
    position: relative

.menu
    height: 100%
    position: absolute
    top: 72%
    right: 13%

.line
    height: 3px
    width: 100%
    background: $brown

.noData
    width: 70%
    text-align: center