.container
    display: grid
    justify-self: center
    justify-items: center
    align-self: center
    align-items: center

.b
    position: absolute
    animation: door_b 3.3s ease-in-out infinite alternate-reverse

@keyframes door_b
  0% 
    transform: scale(1.1)
  100% 
    transform: scale(16)
.o
    position: absolute
    animation: door_o 3.3s ease-in-out infinite alternate-reverse

@keyframes door_o
  0% 
    transform: scale(0.9)
  10% 
    transform: scale(0.9)
  100% 
    transform: scale(18)

.p
    position: absolute
    animation: door_p 3.3s ease-in-out infinite alternate-reverse

@keyframes door_p
  0% 
    transform: scale(0.7)
  16% 
    transform: scale(0.7)
  100% 
    transform: scale(20)

.z
    position: absolute
    animation: door_z 3.3s ease-in-out infinite alternate-reverse

@keyframes door_z
  0% 
    transform: scale(0.5)
  22% 
    transform: scale(0.5)
  100% 
    transform: scale(22)

.y
    position: absolute
    animation: door_y 3.3s ease-in-out infinite alternate-reverse

@keyframes door_y
  0% 
    transform: scale(0.3)
  20% 
    transform: scale(0.3)
  100% 
    transform: scale(24)