.flex
    width: 1920px
    height:1080px
    display: flex
    justify-content: center
    align-items: center

.b
    position: absolute
    overflow: hidden
    animation: door_b 1.5s ease-in-out 1

@keyframes door_b
  0% 
    transform: scale(1)
  100% 
    transform: scale(10)
.o
    position: absolute
    overflow: hidden
    animation: door_o 2s ease-in-out 1

@keyframes door_o
  0% 
    transform: scale(1)
  100% 
    transform: scale(10)

.p
    position: absolute
    overflow: hidden
    animation: door_p 2s ease-in-out 1

@keyframes door_p
  0% 
    transform: scale(1)
  100% 
    transform: scale(10)

.z
    position: absolute
    overflow: hidden
    animation: door_z 2s ease-in-out 1

@keyframes door_z
  0% 
    transform: scale(1)
  100% 
    transform: scale(10)

.y
    position: absolute
    overflow: hidden
    animation: door_y 2s ease-in-out 1

@keyframes door_y
  0% 
    transform: scale(1)
  100% 
    transform: scale(10)