@import @/styles/_variables.module.sass


.container
    display: flex
    width: 1524px
    align-items: center
    justify-content: space-between

.image
    display: flex
    align-items: center
    justify-content: flex-start
    width: 15%

.name
    display: flex
    align-items: center
    justify-content: flex-start
    width: 30%

.price
    display: flex
    align-items: center
    justify-content: flex-start
    width: 5%

.quantity
    display: flex
    align-items: center
    justify-content: flex-start
    width: 10%

.total
    display: flex
    align-items: center
    justify-content: flex-start
    width: 5%

.delete
    display: flex
    align-items: center
    justify-content: flex-end
    width: 15%

.line
    height: 3px
    width: 100%
    background: $brown



.add
    width: 325px
    border: 1px $black solid
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 5px
    border-radius: 7px

.addValue
    border: 0
    background: $bgColor
    width:30%
    text-align: center

.addValue:focus
    border: 0
    outline: none

.button
    border: 0   
    background: $bgColor
    font-size: 30px
