@import @/styles/_variables.module.sass

.row
    letter-spacing: 3px

.container
    display: flex
    width: 1524px
    align-items: center
    justify-content: space-between

.image
    display: flex
    align-items: center
    justify-content: flex-start
    width: 15%

.name
    display: flex
    align-items: center
    justify-content: flex-start
    width: 30%

.price
    display: flex
    align-items: center
    justify-content: flex-start
    width: 3%
    color: $hot_pink

.quantity
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    width: 15%

.stock
    position: absolute
    top:60px
    left:45px   
    
.total
    display: flex
    align-items: center
    justify-content: flex-start
    width: 5%
    color: $hot_pink

.delete
    display: flex
    align-items: center
    justify-content: flex-end
    width: 10%

.line
    height: 3px
    width: 100%
    background: $brown

.add
    width: 60%
    border: 1px $black solid
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 5px
    border-radius: 7px

.addValue
    border: 0
    background: $bgColor
    width:30%
    text-align: center

.addValue:focus
    border: 0
    outline: none

.button
    border: 0   
    background: $bgColor
    font-size: 30px
