@import '@/styles/_variables.module.sass' 

.flex
    display: flex
    flex-direction: column
    align-items: center

.container
    width: 95px
    height: 95px
    background: white
    border-radius: 50% 50% 0px 0px
    padding: 30px
    margin: auto

.image
    position: relative
    top:20px

.textContainer
    overflow: hidden 
    text-overflow: ellipsis 
    display: -webkit-box
    -webkit-line-clamp: 2 
    -webkit-box-orient: vertical
    white-space: normal
    font-weight: 600
    height: 45px
    text-align: center
