@import '@/styles/_variables.module.sass' 

.container
    width: 120px
    height: 110px
    background: white
    border-radius: 50% 50% 0px 0px
    padding: 30px
    margin: auto

.flex
    display: flex
    flex-direction: column
    align-items: center

