@import '@/styles/_variables.module.sass'

.tableContainer
    display: flex
    align-items: center
    justify-content: center
    position: relative

.relative
    position: relative

.god
    position: absolute
    bottom: -182.5px 
    
.back
    position: absolute
    top: 35.5vh

.front
    position: absolute
    top: 60.5vh

.productsContainer
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 44.5vh
    z-index: 3
   
.incenseHidden
    position: absolute
    top: -15vh

.incense
    position: absolute
    top: 77.5vh
    z-index: 3
    animation: down 2s ease-out 1

@keyframes down
    0%
        top: -15vh    
    100%
        top: 77.5vh

.burning
    position: absolute
    top: 77.3vh
    z-index: 3

.burner
    position: absolute
    top: 85vh
    z-index: 4

.button
    position: absolute
    top: 93vh

.sortList
    list-style: none
    display: flex
    padding-left: 0px 
    gap: 5px
    cursor: grab

.sortableContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.smokeContainer
    position: absolute
    top: 72vh
    left: 50.5vw
    // transition: top 2s ease
    // animation: smoke 2 ease 1

.smoke 
    // animation: smoke 2 ease 1
@keyframes smoke
    0%
        opacity: 0.2
        // top: 72vh
    50%
        opacity: 1
    100%
        opacity: 0
        // top: 78vh

.product
    position: relative
    top: 2.2vh

.productAnimation
    animation: product 4s ease-out 1

@keyframes product
    0%
        top: -200vh
    100%
        top: 2.2vh

.plate
    position: relative
    top: 0vh
    z-index: -1

.plateAnimation
    animation: plate 2s ease-out 1

@keyframes plate
    0%
        top: -100vh
    100%
        top: 0vh

.hintContainer
    cursor: default
    position: relative
    left:22vh
    top: 80vh
    width: 500px

.shine
    animation: opacity 1.2s ease  infinite 

@keyframes opacity
    0%
        opacity: 1
    50%
        opacity: 0.2
    100%
        opacity: 1

.hint
    display: flex
    justify-content: flex-start
    align-items: center
    width: 500px