@import '@/styles/_variables.module.sass'
.background
  position: relative
  background-color: $brown
  z-index: -2

.place
  padding-top:5px
  position: relative
  top:5px

.floor
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    bottom: 0px
    position: absolute
    overflow: hidden
    z-index: 3

.flex_row
    width:100%
    display: flex
    justify-content: center
    align-items: flex-end

.right
  padding-right: 70px
  padding-bottom: 5px 

.left
  padding-left: 70px
  padding-bottom: 5px 

  