@import '@/styles/_variables.module.sass'

.background
  top:-1px
  position: relative
  background-color: $brown
  z-index: -2

.container
  position: relative
  width: 1920px
  height:1080px
  overflow: hidden

.place
  padding-top:5px
  position: relative
  top:5px

.floor
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    bottom: -2px
    position: absolute
    overflow: hidden
    z-index: 3

.position
  position: relative

.dog
    position: absolute
    right: 610px
    bottom:10px

.lighting
    position: absolute
    right: 820px
    bottom:250px
    animation-name: light1
    animation-duration: 1s      
    animation-iteration-count: infinite 
    animation-timing-function: ease 

.light_div
    transform: rotate(-35deg)
    position: absolute
    right: 830px
    bottom:225px

.lighting2
    animation-name: light1
    animation-duration: 1.5s      
    animation-iteration-count: infinite 
    animation-timing-function: ease 

@keyframes light1
    100%
      transform: translate(-30%, -30%)translate(0, 0)

    @for $i from 2 through 4
      #{$i * 50%} 
        @if($i % 2 == 0) 
          opacity: 0
        @else 
          opacity: 1
.signInBlock
  right:587px
  bottom:78px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  width:160px
  height:225px
  border-radius:40% 40% 0 0
  border: none

.signIn
    position: relative

.pinkStar
    padding-bottom: 20px
    display: inline-block
    transform: translateZ(1px)
    position: relative

.signInBlock:hover
   cursor: pointer

.signInBlock:hover > .pinkStar
  animation: pinkStar 3s linear infinite alternate

.signInBlock:active > .pinkStar
  animation: pinkStar 3s linear infinite alternate

@keyframes pinkStar 
  0% 
    transform: rotateY(0deg)
  100% 
    transform: rotateY(2500deg)

.flex_row
    width:100%
    display: flex
    justify-content: center
    align-items: flex-end
  
.flex_row2
    width:100%
    display: flex
    justify-content: center
    align-items: center

.HomeDoor
  position: absolute
  right:500px
  bottom:0px
  width:1920px
  box-sizing: border-box
  display: none


.signInBlock:active ~ .HomeDoor
  display: block
  animation: showHide 6s linear 

@keyframes showHide
  0% 
    opacity: 0
    visibility: hidden
  59% 
    opacity: 0
    visibility: hidden
  
  59.5% 
    opacity: 1
    visibility: visible
  
  99% 
    opacity: 1
    visibility: visible
  
  100% 
    opacity: 0
    visibility: hidden

.signInDoor
  right:599px
  bottom:86px
  position: absolute
  width:139px
  height:205px
  overflow: hidden
  border: none
  border-radius: 78px 78px 0 0
  box-sizing: border-box
  display: none

.HomeDoor2
  display: flex
  border: none
  padding: 107px 100px

.signInBlock:active ~ .signInDoor
  display: block


