@import '@/styles/_variables.module.sass' 

.flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    // div
    //     span
    //         margin:0px 5px
    //         color: #868686

.flex_column
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

.price
    // width: 250px
    font-size: 30px
    font-weight: 700
    color:$hot_pink

.line
    width: 1026px
    height:0px
    border: 2px solid
    color:$light_brown
    margin:50px 0
   
.text   
    font-size: 15px
    color: #868686
    letter-spacing: 3px

.btnflex
    display: flex
    flex-direction: column
    justify-content: space-around
    div
    margin: 7px
    

    
    