@import '@/styles/_variables.module.sass'

.background
  top:-1px
  position: relative
  background-color: $brown
  z-index: -2
.place
  padding-top:5px
  position: relative
  top:5px
  height: 460px
  overflow: hidden 
.floor
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    bottom: 0px
    position: absolute
    // overflow: hidden
    z-index: 3
.flex_row
  width: 100%
  display: flex
  align-items: flex-end
  justify-content: center
.flex_row2
    width:100%
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 60px
.flex_know
  display: flex
  justify-content: center
  align-items: center
  margin-top: 120px