@import '@/styles/mixins/_mixin'
@import '@/styles/_variables.module.sass'

body
    margin: 0
    padding:0
    background-color: $bgColor
    font-family: 'Noto Sans TC', sans-serif
    color: $fontColor
    scroll-behavior: smooth
    overflow-x: hidden

// div::selection
//     color: $green
// span::selection
//     color: $hot_pink

img::selection
    background: transparent

$tag:"div","span","p","h1","h2","h3","h4","h5"

@for $i from 1 through 8
    @include selection(nth($tag,$i),$hot_pink)

// fs12px ~ fs30px 
@for $i from 12 through 30
    @include fsnpx($i)

$font-weight:"Normal","Bold","Bolder","Lighter"

// fwNormal, fwBold, fwBolder, fwLighter
@for $i from 1 through 4
    @include fwn(nth($font-weight,$i))
    
// h1px ~ h2000px
@for $i from 1 through 2000
    @include hnpx($i)

// w1px ~ w2000px
@for $i from 1 through 2000
    @include wnpx($i)

// p1px ~ p1000px 
@for $i from 1 through 1000
    @include pnpx($i)

// m1px ~ m1000px 
@for $i from 1 through 1000
    @include mnpx($i)

// pt1px ~ pt1000px 
@for $i from 1 through 1000
    @include ptnpx($i)

// mt1px ~ mt1000px 
@for $i from 1 through 1000
    @include mtnpx($i)

// pb1px ~ pb1000px 
@for $i from 1 through 1000
    @include pbnpx($i)

// mb1px ~ mb000px 
@for $i from 1 through 1000
    @include mbnpx($i)

// ps1px ~ ps1000px 
@for $i from 1 through 1000
    @include psnpx($i)

// ms1px ~ ms1000px 
@for $i from 1 through 1000
    @include msnpx($i)

// pe1px ~ pe1000px 
@for $i from 1 through 1000
    @include penpx($i)

// me1px ~ me1000px 
@for $i from 1 through 1000
    @include menpx($i)

::-webkit-scrollbar
  width: 15px
  height: 10px

::-webkit-scrollbar-track
  background-color: white


::-webkit-scrollbar-thumb
    // #BB952A #CDAE50 #FDE182 generate
    background-image: linear-gradient(to top, #bb952a, #be9a32, #c19e39, #c5a340, #c8a847, #ceae4e, #d3b555, #d9bb5c, #e2c465, #ebce6f, #f4d778, #fde182)
    height:20px

    
.shadow
    filter: drop-shadow(0.2rem 0.2rem 0.25rem $shadow)
    
.border
    border:1px red solid

.nowrap
    display: flex
    justify-content: center
    align-items: center

.shopContainer
    width:80%
    margin-left: auto
    margin-right: auto

