
body {
    margin: 0;
    padding:0;
    background-color:#EEECE0 ;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
img::selection{
    background: transparent;
}
::-webkit-scrollbar{
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-track{
  background-color: white;
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top, #bb952a, #be9a32, #c19e39, #c5a340, #c8a847, #ceae4e, #d3b555, #d9bb5c, #e2c465, #ebce6f, #f4d778, #fde182);
    height:20px;
}
    
.shadow{
    filter: drop-shadow(0.2rem 0.2rem 0.25rem black);
  }  
.border{
    border:1px red solid;
}
.nowrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopContainer{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
