@import @/styles/_variables.module.sass

.container
    width:70%
    margin-left: auto
    margin-right: auto

.totalBox
    text-align: center
    background: $brown
    color: white
    width: 100%
    letter-spacing: 3px
    line-height: 55px
    opacity: 0.8

.flex_space_between
  display: flex
  flex-direction: row
  margin:30px 0px 
  justify-content: space-between

  .trans
    