.flex_centre
  display: flex
  flex-direction: row
  margin:17.5px 10px 
  justify-content: center

.photoFrame
    width: 200px
    height: 200px
    border-radius: 50%
    border: 5px solid #47B990
    overflow: hidden
    img 
        width: 100%
        height: 100%
        object-fit: cover
